/* Write your CSS here */
.about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.default-about-img {
  width: 750px;
  height: 550px;
  align-self: center;
  margin-top: 50px;
}
